{% extends 'layout.html' %}
{% load bootstrap4 %}

{%block title %}SkilBlog{% endblock %}
{% load static %}


{%block content4 %}

<div class="jumbotron">
    <h2>스킬 블로그</h2>
</div>

{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
     {{ message.message }}<strong>{{ message.tags }}</strong>
     {% endfor %}
</div>
{% endif %}

<br><br>

<form class="" action="" method="get">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="serach word" aria-label="skil column 검색" aria-describedby="basic-addon2"  name="q">
      <div class="input-group-append">
          <!-- search_btn_for_user_list -->
        <button class="btn btn-outline-secondary" type="submit">검색</button>
      </div>
    </div>
</form>


<table class="table table-bordered" id="skilblog_list">
    <tr>
        <td>index</td>
        <td>title</td>
        <td>author</td>
        <td>reputation</td>
    </tr>

    {% if object_list.exists %}
        {% for p in object_list %}
            <tr>
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    <a href="{% url 'skilblog:SkilBlogContentList' p.pk %}">
                        {{p.title}}
                        {% if p.author == request.user %}
                        <a class="badge badge-pill badge-primary btn-sm" href="{% url "skilblog:delete_skilblog_title_list" p.id %}">삭제 </a>
                        <a class="badge badge-pill badge-primary btn-sm" href="{% url "skilblog:modify_skilblog_title_list" p.id %}">수정</a>
            			{% endif %}

                    </a>

                </td>
                <td>
                    {{p.author}}
                </td>
                <td>
                    <a class="plus_btn_for_user btn btn-outline-dark btn-sm" href="{% url "skilblog:like_skil_blog_title" p.pk %}">
                        <img src="{% static 'icon/like.png' %}" alt="">
                    </a>
                    ({{p.reputation}})
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">
                <h4>아직 게시물이 없습니다.</h4>
            </td>
        </tr>
    {% endif %}
</table>

{% if is_paginated %}
   {% bootstrap_pagination page_obj size="small" justify_content="center" %}
{% endif %}


{%endblock%}

<script type="text/javascript">
{% block extra_js %}


{% endblock %}
</script>


<a class="go_to_next_channer_btn btn btn-outline-success" href="http://www.github.com">
    <img src="/static/icon/git_icon.png" alt="">
</a>
