{% extends "layout.html" %}
{%block title %}skil blog title list{% endblock %}
{% load static %}


{%block content2 %}

<div class="jumbotron">
    <h2>스킬 블로그</h2>
</div>

{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
     {{ message.message }}<strong>{{ message.tags }}</strong>
     {% endfor %}
</div>
{% endif %}
<!-- <a href="/bestlec/new/" class="btn btn-danger float-right">입력 </a> -->

<br><br>

<table class="table table-bordered" id="skilblog_list">
    <tr>
        <td>index</td>
        <td>title</td>
        <td>author</td>
        <td>reputation</td>
    </tr>

    {% if object_list.exists %}
        {% for p in object_list %}
            <tr>
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    <a href="{% url 'skilblog:SkilBlogContentList' p.pk %}">
                        {{p.title}}
                        <a class="badge badge-pill badge-primary btn-sm" href="{% url "skilblog:delete_skilblog_title_list" p.id %}">삭제</a>
                        <a class="badge badge-pill badge-primary btn-sm" href="{% url "skilblog:modify_skilblog_title_list" p.id %}">수정</a>
                    </a>
                    <a class="plus_btn_for_user btn btn-outline-dark btn-sm" href="{% url "skilblog:like_skil_blog_title" p.pk %}">
                        <img src="{% static 'icon/like.png' %}" alt="">
                    </a>
                </td>
                <td>
                    {{p.author}}
                </td>
                <td>
                    {{p.reputation}}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">
                <h4>아직 게시물이 없습니다.</h4>
            </td>
        </tr>
    {% endif %}
</table>


{%endblock%}

<script type="text/javascript">
{% block extra_js %}


{% endblock %}
</script>


<a class="go_to_next_channer_btn btn btn-outline-success" href="http://www.github.com">
    <img src="/static/icon/git_icon.png" alt="">
</a>
