{% extends "challenge/layout.html" %}
{% load static %}

{%block title %} 챌린지 {% endblock %}

{%block content4 %}
<br>
<br>
<br>
<br>

{% if object_list.exists %}
	{% for p in object_list %}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{p.title}}</h5>
					<p class="card-text">{{p.description}}</p>
					<a href="{% url 'challenge:lecinfo_list_for_challenge' p.title %}" class="btn btn-primary">go</a>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	{% endfor %}
{% else %}
<tr>
	<td colspan="6">
		<h4>아직 챌린지 과목이 없습니다.</h4>
	</td>
</tr>
{% endif %}

{% endblock %}

<script type="text/javascript">
{% block extra_js %}

{% endblock %}


</script>