{% extends "layout.html" %}

{%block title %}{{challenge_title}} 에 대한 Challenge List{% endblock %}

{%block content4 %}

<br><br><br><br>

<h4>{{challenge_title}} 에 대한 Challenge List</h4>

<br><br>

{% if lecinfo_list.exists %}
{% for p in lecinfo_list %}
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<p class="card-text">{{p.lec_name}}</p>
				<a href="{% url 'challenge:lec_record_list' p.id %}" class="btn btn-primary">입장</a>
			</div>
		</div>
	</div>
</div>
<br><br>
{% endfor %}
{% else %}
<tr>
	<td colspan="6">
		<h4>아직 챌린지 모임이 없습니다.</h4>
	</td>
</tr>
{% endif %}


{% endblock %}
<script type="text/javascript">
{% block extra_js %}

{% endblock %}

</script>
