

<h2>카테고리 정보</h2>

<!-- <a href="/wm/categorynick/new" class="btn btn-danger float-right">입력 </a> -->

{% if category %}

<h2>category list for {{category.author}}</h2>
<table class="table table-bordered" id="todo_list" width="100%">
    <tr id="ca1">
        <td>ca1</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca1}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary btn-sm cn-btn" data-id={{category.id}} data-field = "ca1">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca1/">이동</a>
        </td>
    </tr>
    <tr id="ca2">
        <td>ca2</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca2}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary btn-sm cn-btn" data-id={{category.id}} data-field = "ca2">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca2/">이동</a>
        </td>
    </tr>
    <tr id="ca3">
        <td>ca3</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca3}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary btn-sm  cn-btn" data-id={{category.id}} data-field = "ca3">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca3/">이동</a>
        </td>
    </tr>
    <tr id="ca4">
        <td>ca4</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca4}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca4">수정</a>
            {% endif %}
                <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca4/">이동</a>
        </td>
    </tr>
    <tr id="ca5">
        <td>ca5</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca5}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca5">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca5/">이동</a>
        </td>
    </tr>
    <tr id="ca6">
        <td>ca6</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca6}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca6">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca6/">이동</a>
        </td>
    </tr>

    <tr id="ca7">
        <td>ca7</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca7}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca7">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca7/">이동</a>
        </td>
    </tr>

    <tr id="ca8">
        <td>ca8</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca8}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca8">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca8/">이동</a>
        </td>
    </tr>

    <tr id="ca9">
        <td>ca9</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca9}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca9">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca9/">이동</a>
        </td>
    </tr>

    <tr id="ca10">
        <td>ca10</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca10}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca10">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca10/">이동</a>
        </td>
    </tr>

    <tr id="ca11">
        <td>ca11</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca11}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca11">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca11/">이동</a>
        </td>
    </tr>
    <tr id="ca12">
        <td>ca12</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca12}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca12">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca12/">이동</a>
        </td>
    </tr>
    <tr id="ca13">
        <td>ca13</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca13}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca13">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca13/">이동</a>
        </td>
    </tr>
    <tr id="ca14">
        <td>ca14</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca14}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca14">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca14/">이동</a>

        </td>
    </tr>
    <tr id="ca15">
        <td>ca15</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca15}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca15">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca15/">이동</a>

        </td>
    </tr>
    <tr id="ca16">
        <td>ca16</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca16}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca16">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca16/">이동</a>

        </td>
    </tr>
    <tr id="ca17">
        <td>ca17</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca17}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca17">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca17/">이동</a>
        </td>
    </tr>
    <tr id="ca18">
        <td>ca18</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca18}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca18">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca18/">이동</a>
        </td>
    </tr>
    <tr id="ca19">
        <td>ca19</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca19}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary btn-sm cn-btn" data-id={{category.id}} data-field = "ca19">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca19/">이동</a>
        </td>
    </tr>
    <tr id="ca20">
        <td>ca20</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca20}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary btn-sm  cn-btn" data-id={{category.id}} data-field = "ca20">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca20/">이동</a>
        </td>
    </tr>
    <tr id="ca21">
        <td>ca21</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca21}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary btn-sm  cn-btn" data-id={{category.id}} data-field = "ca21">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca21/">이동</a>
        </td>
    </tr>
    <tr id="ca22">
        <td>ca22</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca22}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary btn-sm  cn-btn" data-id={{category.id}} data-field = "ca22">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca22/">이동</a>
        </td>
    </tr>
    <tr id="ca23">
        <td>ca23</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca23}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary btn-sm cn-btn" data-id={{category.id}} data-field = "ca23">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca23/">이동</a>
        </td>
    </tr>
    <tr id="ca24">
        <td>ca24</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca24}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca24">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca24/">이동</a>
        </td>
    </tr>
    <tr id="ca25">
        <td>ca25</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca25}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca25">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca25/">이동</a>
        </td>
    </tr>
    <tr id="ca26">
        <td>ca26</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca26}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca26">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca26/">이동</a>
        </td>
    </tr>
    <tr id="ca27">
        <td>ca27</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca27}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca27">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca27/">이동</a>
        </td>
    </tr>
    <tr id="ca28">
        <td>ca28</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca28}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca28">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca28/">이동</a>
        </td>
    </tr>
    <tr id="ca29">
        <td>ca29</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca29}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca29">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca29/">이동</a>
        </td>
    </tr>
    <tr id="ca30">
        <td>ca30</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca30}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca30">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca30/">이동</a>
        </td>
    </tr>
    <tr id="ca31">
        <td>ca31</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca31}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca31">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca31/">이동</a>
        </td>
    </tr>
    <tr id="ca32">
        <td>ca32</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca32}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca32">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca32/">이동</a>
        </td>
    </tr>
    <tr id="ca33">
        <td>ca33</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca33}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca33">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca33/">이동</a>
        </td>
    </tr>
    <tr id="ca34">
        <td>ca34</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca34}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca34">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca34/">이동</a>
        </td>
    </tr>
    <tr id="ca35">
        <td>ca35</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca35}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca35">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca35/">이동</a>
        </td>
    </tr>
    <tr id="ca36">
        <td>ca36</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca36}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca36">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca36/">이동</a>
        </td>
    </tr>
    <tr id="ca37">
        <td>ca37</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca37}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca37">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca37/">이동</a>
        </td>
    </tr>
    <tr id="ca38">
        <td>ca38</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca38}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca38">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca38/">이동</a>
        </td>
    </tr>
    <tr  id="ca39">
        <td>ca39</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca39}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca39">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca39/">이동</a>
        </td>
    </tr>
    <tr  id="ca40">
        <td>ca40</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca40}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca40">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca40/">이동</a>
        </td>
    </tr>
    <tr  id="ca41">
        <td>ca41</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca41}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca41">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca41/">이동</a>
        </td>
    </tr>
    <tr  id="ca42">
        <td>ca42</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca42}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca42">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca42/">이동</a>
        </td>
    </tr>
    <tr  id="ca43">
        <td>ca43</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca43}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca43">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca43/">이동</a>

        </td>
    </tr>
    <tr  id="ca44">
        <td>ca44</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca44}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca44">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca44/">이동</a>

        </td>
    </tr>
    <tr  id="ca45">
        <td>ca45</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca45}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca45">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca45/">이동</a>

        </td>
    </tr>
    <tr  id="ca46">
        <td>ca46</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca46}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca46">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca46/">이동</a>

        </td>
    </tr>
    <tr  id="ca47">
        <td>ca47</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca47}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca47">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca47/">이동</a>

        </td>
    </tr>
    <tr  id="ca48">
        <td>ca48</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca48}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca48">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca48/">이동</a>

        </td>
    </tr>
    <tr  id="ca49">
        <td>ca49</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca49}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca49">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca49/">이동</a>

        </td>
    </tr>
    <tr  id="ca50">
        <td>ca50</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca50}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca50">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca50/">이동</a>
        </td>
    </tr>
    <tr  id="ca51">
        <td>ca51</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca51}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca51">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca51/">이동</a>
        </td>
    </tr>
    <tr  id="ca52">
        <td>ca52</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca52}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca52">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca52/">이동</a>

        </td>
    </tr>
    <tr  id="ca53">
        <td>ca53</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca53}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca53">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca53/">이동</a>

        </td>
    </tr>
    <tr  id="ca54">
        <td>ca54</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca54}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca54">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca54/">이동</a>

        </td>
    </tr>
    <tr  id="ca55">
        <td>ca55</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca55}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca55">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca55/">이동</a>

        </td>
    </tr>
    <tr  id="ca56">
        <td>ca56</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca56}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca56">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca56/">이동</a>

        </td>
    </tr>

    <tr id="ca57">
        <td>ca57</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca57}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca57">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca57/">이동</a>
        </td>
    </tr>

    <tr id="ca58">
        <td>ca58</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca58}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca58">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca58/">이동</a>
        </td>
    </tr>

    <tr id="ca59">
        <td>ca59</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca59}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca59">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca59/">이동</a>
        </td>
    </tr>

    <tr id="ca60">
        <td>ca60</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca60}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca60">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca60/">이동</a>
        </td>
    </tr>

    <tr id="ca61">
        <td>ca61</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca61}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca61">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca61/">이동</a>
        </td>
    </tr>

    <tr id="ca62">
        <td>ca62</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca62}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca62">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca62/">이동</a>
        </td>
    </tr>

    <tr id="ca63">
        <td>ca63</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca63}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca63">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca63/">이동</a>
        </td>
    </tr>

    <tr id="ca64">
        <td>ca64</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca64}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca64">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca64/">이동</a>
        </td>
    </tr>

    <tr id="ca65">
        <td>ca65</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca65}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca65">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca65/">이동</a>
        </td>
    </tr>

    <tr id="ca66">
        <td>ca66</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca66}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca66">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca66/">이동</a>

        </td>
    </tr>

    <tr id="ca67">
        <td>ca67</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca67}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca67">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca67/">이동</a>
        </td>
    </tr>

    <tr id="ca68">
        <td>ca68</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca68}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca68">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca68/">이동</a>
        </td>
    </tr>

    <tr id="ca69">
        <td>ca69</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca69}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca69">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca70/">이동</a>
        </td>
    </tr>

    <tr id="ca70">
        <td>ca70</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca70}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca70">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca70/">이동</a>

        </td>
    </tr>

    <tr id="ca71">
        <td>ca71</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca71}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca71">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca71/">이동</a>
        </td>
    </tr>

    <tr id="ca72">
        <td>ca72</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca72}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca72">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca72/">이동</a>
        </td>
    </tr>

    <tr id="ca73">
        <td>ca73</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca73}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca73">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca73/">이동</a>

        </td>
    </tr>

    <tr id="ca74">
        <td>ca74</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca74}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca74">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca74/">이동</a>
        </td>
    </tr>

    <tr id="ca75">
        <td>ca75</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca75}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca75">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca75/">이동</a>
        </td>
    </tr>

    <tr id="ca76">
        <td>ca76</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca76}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca76">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca76/">이동</a>
        </td>
    </tr>

    <tr id="ca77">
        <td>ca77</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca77}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca77">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca77/">이동</a>
        </td>
    </tr>

    <tr id="ca78">
        <td>ca78</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca78}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca78">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca78/">이동</a>
        </td>
    </tr>

    <tr id="ca79">
        <td>ca79</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca79}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca79">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca79/">이동</a>
        </td>
    </tr>

    <tr id="ca70">
        <td>ca70</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca70}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca70">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca70/">이동</a>
        </td>
    </tr>

    <tr id="ca81">
        <td>ca81</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca81}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca81">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca81/">이동</a>
        </td>
    </tr>

    <tr id="ca82">
        <td>ca82</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca82}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca82">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca82/">이동</a>
        </td>
    </tr>

    <tr id="ca83">
        <td>ca83</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca83}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca83">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca83/">이동</a>
        </td>
    </tr>

    <tr id="ca84">
        <td>ca84</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca84}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca84">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca84/">이동</a>
        </td>
    </tr>

    <tr id="ca85">
        <td>ca85</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca85}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca85">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca85/">이동</a>
        </td>
    </tr>

    <tr id="ca86">
        <td>ca86</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca86}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca86">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca86/">이동</a>
        </td>
    </tr>

    <tr id="ca87">
        <td>ca87</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca87}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca87">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca87/">이동</a>
        </td>
    </tr>

    <tr id="ca88">
        <td>ca88</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca88}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca88">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca88/">이동</a>
        </td>
    </tr>

    <tr id="ca89">
        <td>ca89</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca89}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca89">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca89/">이동</a>
        </td>
    </tr>

    <tr id="ca90">
        <td>ca90</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca90}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca90">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca90/">이동</a>
        </td>
    </tr>

    <tr id="ca91">
        <td>ca91</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca91}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca91">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca91/">이동</a>
        </td>
    </tr>

    <tr id="ca92">
        <td>ca92</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca92}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca92">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca92/">이동</a>
        </td>
    </tr>

    <tr id="ca93">
        <td>ca93</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca93}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca93">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca93/">이동</a>
        </td>
    </tr>
    <tr  id="ca94">
        <td>ca94</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca94}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca94">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca94/">이동</a>
        </td>
    </tr>
    <tr id="ca95">
        <td>ca95</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca95}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca95">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca95/">이동</a>
        </td>
    </tr>
    <tr id="ca96">
        <td>ca96</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca96}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca96">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca96/">이동</a>
        </td>
    </tr>
    <tr id="ca97">
        <td>ca97</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca97}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca97">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca97/">이동</a>
        </td>
    </tr>
    <tr id="ca98">
        <td>ca98</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca98}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary  btn-sm cn-btn" data-id={{category.id}} data-field = "ca98">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca98/">이동</a>

        </td>
    </tr>
    <tr id="ca99">
        <td>ca99</td>
        <td>
            <input type="text" size="70%" name="" id="input_category_nick" value="{{category.ca99}}">
            {% if category.author == request.user %}
                <a class="btn btn-outline-primary btn-sm cn-btn" data-id={{category.id}} data-field = "ca99">수정</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="/wm/myshortcut/category/ca99/">이동</a>
        </td>
    </tr>

</table>

{% else %}

<table class="table table-borderd">
    <tr>
        <td>카테고리 정보가 없습니다.</td>
    </tr>
</table>

{% endif %}

<!-- modal area -->


<script type="text/javascript">

    $(".cn-btn").click(function(e){
        // alert("클릭");
        const ca_id = $(this).data("id");
        const field = $(this).data("field");
        const ca_nick_update = $(this).parent().find("#input_category_nick").val()

        // alert("ca_id : " + ca_id)
        // alert("field : " + field);
        // alert("ca_nick_update : " + ca_nick_update);

        window.history.pushState("", "", '/wm/myshortcut/')

        $.ajax({
          type: "POST",
          url: 'update/category/nick/',
          data: {
              'ca_id':ca_id,
              'field':field,
              'ca_nick_update':ca_nick_update,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
            success: function(result) {
                // alert("category nick update success")
                alert("result.message : " + result.message)
                // 이동한후 목록 버튼 클릭하도록 설정
                // $(location). attr('href', 'http://127.0.0.1:7000/wm/myshortcut/');

            }
        });


    })


</script>
