{% extends "todo/layout.html" %}
{%block title %} 메뉴얼 {% endblock %}

{%block content4 %}
<br>
<br>
<br>
<h2>메뉴얼 페이지</h2>

<pre>

    이 웹사이트의 핵심 기능은 skil note 입니다. 학습한 내용을 순서대로 정리 및 공유할수 있도록 다양한 기능을 제공합니다.
    세부 사항은 다음과 같습니다.

    1.입력 기능
    input, textarea, summer note , image 등 다양한 형식으로 입력 가능

    2.편집
    이동 버튼 : 체크 박스로 체크한뒤 이동할 카테고리 번호 입력
    ca + 1 버튼 : 현 카테고리 부터 +1
    ca -1 버튼 :  현 카테고리 부터 -1
    skil blog 기능 : 체크 박스로 체크한뒤 소주제로 묶어 스킬 블로그로 재정리 하고 조회 및 편집이 가능합니다.

    3.검색 기능
    제목으로 검색, 내용으로 검색, 파일 history 검색(포스팅의 파일 이름옆의 history 버튼 클릭)

    4.복사 기능
    제목 두번 클릭 : 내용 복사
    파일 이름 한번 클릭 : 파일 복사
    파일 이름 두번 클릭 : 파일 이름 저장

    5.미니 노트
    왼쪽에 front, back 버튼이 미니 노트

    6.단축키
    ctrl + 오른쪽 방향키 : ca+1
    ctrl + 왼쪽 방향키 : ca-1

    7.공유 기능
    화면 상단의 id 입력 부분 옆의 유저 목록 버튼을 클릭
    유저 버튼 클릭후 copy_to_me 버튼을 눌러 타인의 id로부터 모든 게시물을 복사(댓글도 포함)
    유저 목록에서 +1을 통해 특정 유저에 +1을 누르면 자동으로 favorite 유저 목록으로 등록 됩니다.
    favorite 목록에서 id를 고른후 복사 하지 않고 id만 바꿔서 조회만 할수도 있습니다.

    8.기타 화면 조작 기능
    row 번호간 이동, 카테고리간 이동 버튼 등등

</pre>




{% endblock %}


<script type="text/javascript">
{% block extra_js %}

{% endblock %}
</script>
