{% extends "layout.html" %}
{% load static %}

{%block title %}(pm)manual{% endblock %}

{%block extra_head %}

{% endblock %}

{%block content2%}

<br><br>

    <input type="button" class="btn btn-outline-dark btn-block btn-sm" onclick="location.href='/wm/myshortcut/'" value="skil note로 이동"/> <br>

    <table class="table table-bordered" id="todo_list">
        <tr>
            <td>id</td>
            <td>username</td>
            <td>skill note subject</td>
            <td>change</td>
            <td>복사</td>
            <td>추천</td>
            <td>평점 22</td>
        </tr>
        {% if object_list.exists %}
        {% for u in object_list %}
        <tr>
            <td>{{u.id}}</td>
            <td id=user_name_{{u.id}}>{{u.username}}</td>
            {% if u.username == request.user.username %}
            <td style="background-color:#DFF3FA">
                <input type="text" class="shortcut_subject_input_{{u.id}} form-control" value="{{u.profile.subject_of_memo}}"><br>
                <a href="" class="btn btn-outline-primary btn-sm update_memo_subject_btn float-right" data-id={{u.id}}>수정</a>
            </td>
            {% else %}
            <td>
                <input type="text" class="shortcut_subject_input_{{u.id}} form-control" value="{{u.profile.subject_of_memo}}">
            </td>
            {% endif %}

            <td>
                <a href="" class="btn btn-outline-dark move_to_user_btn btn-sm" id={{u.id}}>Id 선택</a>
            </td>
            <td>
                <a href="" class="btn btn-outline-dark btn-sm copy_to_me_from_user_id_btn" id={{u.username}}>
                    copy_to_me
                    <span class="" id="loading_for_copy" role="status" aria-hidden="true"></span>
                </a>


            </td>
            <td>
                <button type="button" class="plus_btn_for_user btn btn-outline-dark" data-user_pk="{{u.pk}}" data-user_id="{{request.user}}">
                    <img src="{% static 'icon/plus.png' %}" alt="">
                </button>
            </td>
            <td id="skill_note_point_{{u.id}}">
                {{ u.recommandationuseraboutskillnote_set.count }}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">
                <h4>아직 게시물이 없습니다.</h4>
            </td>
        </tr>
        {% endif %}
        <tbody id="post_list"></div>
    </table>

<!-- {% if is_paginated %}
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">이전</a>
  {% endif %}
  {{ page_obj.number }} 페이지
  {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">다음</a>
  {% endif %}
{% endif %} -->

{% endblock %}


<script type="text/javascript">

// wm 앱임
{% block extra_js %}

$(() => {
    //scroll을 구현해 보자
    $win = $(window);
    var is_loaded = false;
    var current_page;
    $win.scroll(() => {
        var diff = $(document).height() - $win.height();

        if((!is_loaded) && diff - $win.scrollTop() < 1 ) {
            console.log("현재 창의 위치는 바닥입니다.");
            var next_page = (current_page || 1) + 1;
            current_page = next_page
            var next_page_url = '?page=' + next_page;
            is_loaded = true;
            $.get(next_page_url).
                done(function(html) {
                    console.log("html(next) : ", html)
                    $("#post_list").append(html);
                    next_page = current_page +1
                    console.log("현재 페이지 번호 : ", current_page);
                }).
                fail(function(hxr, textStatus, error) {
                    console.log(textStatus);
                }).always(function() {
                    console.log("always");
                    is_loaded = false;
                });
            }
    });
});

function refresh_user_list_popup(){

    // console.log("refresh_user_list_popup 실행");
    // alert("refresh_user_list_popup()");
    const url = "userlist/byajax"
	window.history.pushState("", "", '/wm/')

	$.get(url)
		.done((result) => {
            $("#user_table_area").html("")
			$("#user_table_area").html(result)

			window.history.pushState("", "", '/wm/myshortcut')

		})
		.fail(() => {
			console.log("fail");
		})
		.always(() => {
			console.log('always');
		})

}

$(".plus_btn_for_user").click(function(){
    // alert('plus button 클릭');
    // 어떤 유저에 대해 추천
    const user_pk = $(this).data("user_pk");
    // 누가 추천
    const user_id = $(this).data("user_id");

    console.log("user_pk : " , user_pk);
    console.log("user_id : " , user_id);

    window.history.pushState("", "", '/wm/myshortcut/')

    $.ajax({
        type: "POST",
        url: 'plus_recommand_for_skillnote_user/',
        data: {
            "user_pk":user_pk,
            "user_id":user_id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(result) {
            // 0924 plus_btn_for_user
            if(result.option == "plus") {
                alert("추천 +1 ")
                // const point = $("#skill_note_point_"+user_pk).text().trim();
                // $("#skill_note_point_"+user_pk).text(result.recommand_count).trim();
                // refresh_user_list_popup()
                window.location.href = '/wm/userlist/byajax'

                // alert("result.recommand_count : "+ result.recommand_count);
                // alert("point : "+ point);
                // $(this).parent().find("#skill_note_point").text(result.recommand_count)
            }else {
                alert("추천 -1 ")
                // const val = $(this).parent().find("#skill_note_point").text();
                // $("#skill_note_point_"+user_pk).text(result.recommand_count).trim();
                // refresh_user_list_popup()
                // location.reload(true);
                window.location.href = '/wm/userlist/byajax'

                // alert("val : "+ val);
                // alert("result.recommand_count : "+ result.recommand_count);
                // $(this).parent().find("#skill_note_point").text(result.recommand_count)
            }
        }
    });


})
$(".copy_to_me_from_user_id_btn").click(function(e){
    e.preventDefault();
    const author = this.id
    // alert("this.id : " + this.id);

    if (!author) {
		return;
	};

    const selection = prompt("나의 note를 모두 지운뒤 선택한 유저"+author+"의 노트를 복사하시겠습니까?(x,y)", "");
    window.history.pushState("", "", '/wm/myshortcut/')

    if (selection == "y" || selection == "Y") {
        $("#loading_for_copy").addClass("spinner-border spinner-border-sm");

        $.ajax({
            type: "POST",
            url: 'copy_to_me_from_user_id/',
            data: {
                "author":author,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(result) {
                $("#loading_for_copy").removeClass("spinner-border spinner-border-sm");
                alert("result.message (user_list_for_memo) : " + result.message)
            }
        });
    } else {
        alert("취소 하셨습니다.")
    }

});


$(".update_memo_subject_btn").click(function(e){
    e.preventDefault();
    const id = $(this).data("id")
    // alert("id : " +id)
    const shortcut_subject = $(".shortcut_subject_input_"+id).val()
    // alert("shortcut_subject : "+shortcut_subject)

    window.history.pushState("", "", '/wm/myshortcut/')

    $.ajax({
      type: "POST",
      url: 'update/shortcut_subject/',
      data: {
          'shortcut_subject':shortcut_subject,
          csrfmiddlewaretoken: '{{ csrf_token }}'
      },
        success: function(result) {
            alert("result.message : " + result.message)
        }
    });

})

    // $(".move_to_user_btn").click(function(e){
    //     e.preventDefault();
    //     // alert("유저 메모장으로 이동")
    //     const id = this.id
    //     // alert("id : "+ id)
    //     const user_name = $(this).parent().parent().find("#user_name_"+id).text()
    //     alert("user_name : " +user_name)
    //     $("#user_list_modal").modal("hide")
    //     $("#shortcut_user_id").val(user_name)
    //     $(".update_shortcut_user_id").trigger("click");
    // })

    $(".move_to_user_btn").click(function(e){
        e.preventDefault();
        // alert("유저 메모장으로 이동")
        const id = this.id
        // alert("id : "+ id)
        const user_id = $(this).parent().parent().find("#user_name_"+id).text()

        // alert("id : "+ id);
        // alert("user_id : "+ user_id);

            window.history.pushState("", "", '/wm/')

            $.ajax({
              type: "POST",
              url: 'update/shortcut_id_ajax/'+id,
              data: {
                  'user_id':user_id,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
              },
                success: function(result) {
                    alert("result.message : " + result.message)
                    const original_id = result.original_id
                    if(original_id !=""){
                        // $("#shortcut_user_id").val(original_id)
                    }
                    // alert(original_id)
                    // alert("id 교체 실행")
                    window.history.pushState("", "", '/wm/myshortcut/')
                    location.href = "/wm/myshortcut/"
                }
            });
    })

{% endblock %}

</script>
