<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title %} ask_class project {% endblock %}</title>
    <title>{%block extra_header %} ask_class project {% endblock %}</title>
    <!-- bootstrao css -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
</head>

<body>

    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light" id="navbar">
      <div class="container">
        <!-- <a href="../" class="navbar-brand">Bootswatch</a> -->
        <!-- <a class="navbar-brand" href="{% url "blog:post_list" %}"> Tutorial Note </a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes"> Django&react <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="themes">
                <a class="dropdown-item" href="../default/">onenote</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="../help/">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../help/">방명록</a>
            </li>
          </ul>

          <ul class="nav navbar-nav ml-auto">

            <!-- <li class="nav-item">
              <a class="nav-link" href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a>
            </li> -->

            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">{{ user }} <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="download">
                        {#                        <a class="dropdown-item" href="https://jsfiddle.net/bootswatch/3he50zsf/">Open in JSFiddle</a>#}
                        {#                        <div class="dropdown-divider"></div>#}
                        {#                        <a class="dropdown-item" href="../4/simplex/bootstrap.min.css">bootstrap.min.css</a>#}
                        {#                        <a class="dropdown-item" href="../4/simplex/bootstrap.css">bootstrap.css</a>#}
                        {#                        <div class="dropdown-divider"></div>#}
                        {#                        <a class="dropdown-item" href="../4/simplex/_variables.scss">_variables.scss</a>#}
                        <a class="dropdown-item" href="/accounts/logout/">Log out</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                        Log in
                    </button>
                </li>
            {% endif %}

          </ul>

        </div>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8" id="main-div">
            <!-- Blog Post -->
            {%block content %}{% endblock %}
          <hr>
          {% if is_paginated %}
              <!-- Pagination -->
              <ul class="pagination justify-content-center mb-4">
                  {% if page_obj.has_next %}
                  <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                          <a class="page-link" href="#">&larr; Older</a>
                  </li>
                  {% endif %}

                  {% if page_obj.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#">Newer &rarr;</a>
                  </li>
                  {% endif %}
              </ul>
          {% endif %}
      </div>

      <div class="col-md-4">

         {%block sidearea %} {%endblock%}
      </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark fixed-bottom">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
      </div>
      <!-- /.container -->
    </footer>

<!-- 모달 -->
{% load socialaccount %}

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Log in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <a role="button" class="btn btn-primary" href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i> Log in with Google</a>
                <hr>
                <a href="/accounts/login">일반 로그인</a>
                <hr>
                <a href="/accounts/signup">회원 가입</a>
                <hr>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    {%block js_area %} {% endblock %}
</script>

<!-- boot strap js -->
<script src="{% static 'blog/_assets/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/popper.min.js' %}"></script>
<script src="{% static 'blog/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/custom.js' %}"></script>

<script>
    function search_post(){
        var search_value = document.getElementById('search-input').value;
        location.href="/blog/search/" + search_value + "/";
    }
    function wait_for_enterkey(){
        if (window.event.keyCode == 13){
            search_post();
        }
    }
</script>



</body>
</html>
