<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title %} ask_class project {% endblock %}</title>
    <!-- bootstrao css -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
    <script src="https://kit.fontawesome.com/1e74fee713.js"></script>

    {%block extra_head %}


    {% endblock %}

    <style>
        {%block extra_css %}{% endblock %}
    </style>

</head>

<body>

<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light" id="navbar">
    <div class="container">
        <!-- <a class="dropdown-item" href="{% url "todo:todo_status_list" %}">todo 현황</a> -->

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url "todo:todo_list" %}">todo</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url "todo:todo_complete_list_byme" %}">todo(완료)</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url "todo:TeamInfoListView" %}">Team </a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url "wm:my_shortcut_list" %}">메모장</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Study(B)<span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="download">
                    <a class="dropdown-item" href="{% url "challenge:lec_record_list" 1 %}">we_tube(nomadcoder)</a>
                    <a class="dropdown-item" href="{% url "challenge:lec_record_list" 2 %}">django+vue todo앱(inflearn)</a>
                    <a class="dropdown-item" href="{% url "challenge:lec_record_list" 3 %}">플루터 기초 강의(inflearn)</a>
                    <a class="dropdown-item" href="{% url "challenge:lec_record_list" 4 %}">node + react sns 만들기 (inflearn)</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Study(F)<span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="download">
                    <a class="dropdown-item" href="{% url "challenge:lec_record_list" 5 %}">python pandas (inflearn)</a>
                    <a class="dropdown-item" href="{% url "challenge:lec_record_list" 6 %}">react 기초 velopert (inflearn)</a>
                    <a class="dropdown-item" href="{% url "challenge:lec_record_list" 7 %}">vue framework 기초 (inflearn)</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url "bestlec:best20_list" %}">강의 추천</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url "blog:post_list" %}"> blog </a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url "management:suggestion_list" %}">제안 하기 </a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url "pm:manual_list" %}"> 공지 사항</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url "pd:private_task_list" %}"> private desk </a>
            </li>
        </ul>


        &nbsp;&nbsp;

        <ul class="nav navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">{{ user }} <span
                        class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="download">
                    <a class="dropdown-item" href="/accounts/logout/">Log out</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                    Log in
                </button>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

<!-- Page Content1 -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8" id="main-div">
            <!-- Blog Post -->
            {% block content %} {% endblock %}
        </div>
        <div class="col-md-4">
            {% block sidearea %} {% endblock %}
        </div>
    </div>
</div>

<!-- Content2 -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-10" id="main-div">
            <!-- Blog Post -->
            {% block content2 %}{% endblock %}
        </div>

        <div class="col-md-2">
            {% block sidearea2 %} {%endblock%}
        </div>
    </div>
</div>

<!-- Content3 -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-12" id="main-div">
            <!-- Blog Post -->
            {% block content4 %} {% endblock %}
        </div>
    </div>
</div>



<!-- 모달 -->
{% load socialaccount %}
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Log in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <a role="button" class="btn btn-primary" href="{% provider_login_url 'google' %}"><i
                        class="fab fa-google"></i> Log in with Google</a>
                <hr>
                <a href="/accounts/login">일반 로그인</a>
                <hr>
                <a href="/accounts2/signup">회원 가입</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'blog/_assets/js/custom.js' %}"></script>
<script src="{% static 'blog/_assets/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/popper.min.js' %}"></script>
<script src="{% static 'blog/bootstrap/bootstrap.min.js' %}"></script>

<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

<script>
    function search_post(){
        var search_value = document.getElementById('search-input').value;
        location.href="/blog/search/" + search_value + "/";
    }
    function wait_for_enterkey(){
        if (window.event.keyCode == 13){
            search_post();
        }
    }

// id="recommand_site"
$(document).ready(function () {
    // modal 이벤트 : 상세 보기
    $(document).on('click', '#recommandation_site a', function (e) {
        e.preventDefault();
        // var href = $(this).attr("href");
        $.get('?page=2')
            .done((html) => {
                console.log("얻어온 html으로 화면을 바꿔 치기 ");
                console.log("html : ", html)
                $('#post-list-wrapper').html(html)
            })
            .fail(() => {
                console.log("fail");
            })
            .always(() => {
                console.log('always');
            })
            $('.modal22').removeAttr('hidden');
            $( ".modal22" ).modal('show');
            $(".modal22").css("z-index", "1500");
    })
});

{%block extra_js %}

{% endblock %}


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js.map"></script> -->


</body>
</html>
