{% extends "layout.html" %}
{%block title %}css challenge{% endblock %}
{%block extra_css %}
    .carousel-inner img {
      width: 100%;
      height: 100%;
    }
{% endblock %}

{% block content %}

<div class="container mt-3">

<h2>Carousel</h2>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ul>


  <!-- The slideshow -->
  <!-- <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://picsum.photos/700/300/?random" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://picsum.photos/700/300/?random" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://picsum.photos/700/300/?random" alt="New York" width="1100" height="500">
    </div>
  </div> -->

  <div class="carousel-inner">
    <div class="carousel-item active">
        {% for p in object_list %}
        <div class="carousel-item active">
            <img src="{{ p.head_image.url }}">
        </div>
        {% endfor %}
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

</div>

<br><br>



{% endblock %}
