{% extends "blog/layout.html" %}
{% load static %}
{%block title %}{{object.title}} - Blog{% endblock %}
{%block content %}

<!-- Blog Detail -->

    <!-- Preview Image -->
    {% if object.head_image %}
        <img class="img-fluid rounded" src="{{ object.head_image.url }}" alt="{{ object.title }}">
    {% endif %}

    <h1>{{ object.title }}</h1>
    {% if object.category %}
        <span class="badge badge-primary float-right">{{ object.category }}</span>
    {% else %}
        <span class="badge badge-primary float-right">미분류</span>
    {% endif %}
    <div>
        {{ object.get_markdown_content | safe }}
    </div>
    <!-- Author -->
    <p class="lead">
        by
        <a href="#">{{ object.author.username }}</a>
    </p>
    <br/>
    <br>
    <!-- EDIT -->
    <!-- {{object.author}} -->
    {% if request.user == object.author %}
        <button type="button" class="btn btn-sm btn-outline-secondary float-right" onclick="location.href='{{ object.get_update_url }}'">EDIT</button>
    {% endif %}

    <hr>

    {% for tag in object.tags.all %}
        <a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
    {% endfor %}
    <hr>

    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

            <div id="comment-list">
        {% for comment in object.comment_set.all %}
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">{{ comment.author }}</h5>
                {{ comment.get_markdown_content | safe }}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
