{% extends "blog/layout.html" %}
{% load static %}

{%block title %} posting 목록 {% endblock %}
{%block content %}

<!-- Blog Post -->
<div class="container">
    {% for p in object_list %}
        <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">{{p.title}}</h2>
                    <p class="card-text">
                        {{p.content}}
                    </p>
                <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on {{p.created}} {{p.author}}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
