{% load crispy_forms_tags %}

<!-- The Modal -->
<!-- <div class="modal fade" id="myModal"> -->
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{ object.title }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {{ object.get_markdown_content | safe }}
                <hr>

                <!-- 댓글 입력 형식 -->
                <form method="post" action="{{object.get_absolute_url}}new_comment/" id="comment_form" class="hi">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ comment_form | crispy }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <table class="table table-borderd">
                    <tbody id="reply_list">
                        {% for comment in comments.all %}
                            <tr>
                                <td>{{ comment.author }}</td>
                                <td>{{ comment.text }}</td>
                                <td>{{ comment.created_at }}</td>
                                <td>
                                    {% if comment.author == request.user %}
                                        <button class="btn btn-sm btn-info float-right" onclick="location.href='/todo/edit_comment/{{ comment.pk }}/'">edit</button>
                                        <button class="btn btn-sm btn-warning float-right" onclick="location.href='/todo/delete_comment/{{ comment.pk }}/'">delete</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <br>
            </div>


            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>


<!-- 댓글 템플릿 -->
<script class="reply_template" type="text/x-template">
    <tr>
        <td><%= author %></td>
        <td>
            <%= text %>
        </td>
        <td><%= created_at %></td>
        <td>
            <a href="<%= obj.edit_url %>" class="btn btn-sm btn-info float-right">edit</a>
            <a href="<%= obj.delete_url %>" class="btn btn-sm btn-warning float-right">delete</a>
        </td>
    </tr>
</script>


<!-- _todo_detail.html -->
<script type="text/javascript">

{% block extra_js %}

$(document).ready(function(){
    $("#comment_form").submit(function(e){
        e.preventDefault();
        var $form = $(this);
        var url = $form.attr('action');
        var data = $form.serialize();

        $.post(url,data)
            .done(function(obj){

                alert("ajax request is done")
                console.log(obj)

                var raw_template = $('.reply_template').html();
                console.log("raw_template : ", raw_template);
                var tpl = _.template(raw_template);

                var rendered = tpl({
                    text : obj.text,
                    author : obj.author,
                    created_at : obj.created_at,
                    edit_url : obj.edit_url,
                    delte_ur : obj.delete_url,
                });
                console.log("rendered : " , rendered);
                $(rendered).appendTo($('#reply_list'));
            })
            .fail(function(xhr, textStatus, error){
                alert("failed : " + error);
            });
    });
})

{% endblock %}

</script>

<!-- </div> -->
