{% extends "layout.html" %}
{%block title %}TodoListForTeam{% endblock %}

{%block content4 %}
{% load crispy_forms_tags %}

<br><br>

{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
     {{ message.message }}<strong>{{ message.tags }}</strong>
     {% endfor %}
</div>
{% endif %}

<!-- 2001 -->
<!-- <h2 class="float-left">할일 목록({{request.user}})</h2> -->

<h2 id=""><span id="team_name">{{team_name}}</span> 팀</h2>
<h2 id="">팀장 : <span id="team_leader_name">{{team_leader_name}}</span> </h2>

팀원:
<select id="select_for_team_member">
    {% if team_member_list.exists %}
        {% for p in team_member_list %}
        <option value="{{p.member}}">{{p.member}}</option>
        {% endfor %}
    {% endif %}
</select>

분류 :
<select id="select_for_classification">
    {% if classification_list.exists %}
        {% for p in classification_list %}
        <option value="{{p.name}}">{{p.name}}</option>
        {% endfor %}
    {% endif %}
</select>

마감 기한:
<select id="select_for_dead_line">
 <option value="1h">1시간후</option>
 <option value="4h">4시간후</option>
 <option value="8h">8시간후</option>
 <option value="1d">1일후</option>
 <option value="1w">1주일후</option>
</select>

<br><br>

<div class="input-group">
    <input type="text" onkeyup="insert_todo()" class="form-control" id="input_todo" />
    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" onclick="create_todo_for_team();" id="{{team_name}}">Go!</button>
    </span>
</div>

<br>
    {% if category %}
        카테고리 : <small class="text-muted">{{ category }}</small>
    {% endif %}
    <a href = "{% url "todo:todo_new" %}" class="btn btn-outline-info float-right btn-sm">입력 </a>
    <a href="" class="btn btn-outline-info float-right btn-sm" id="todo_delete_button"> 삭제 </a>
    <br><br>

<table class="table table-bordered" id="todo_list">
    <tr>
        <td>check</td>
        <td>classification</td>
        <td>author</td>
        <td>title</td>
        <td>남은 시간</td>
        <td>마감 기한</td>
    </tr>

    {% if team_todo_list.exists %}
        {% for p in team_todo_list %}
        <tr>
            <td>
                <input type="checkbox" id="{{p.pk}}" class="td_check">
            </td>
            <td>{{p.classification}}</td>
            <td>{{p.author}}</td>
            <td>
                <a href="" id={{p.id}} class="title_for_list">
                    {{p.title}} (<font color="blue"> from {{p.director}}</font> )
                </a><br>
                <a class="badge badge-pill badge-dark" href="{% url "todo:todo_edit" p.id %}">수정</a>
            </td>
            <td>
                {% if p.dead_line %}
                    {{p.remaining_time}}
                {% else %}
                {% endif %}
            </td>
            <td>{{p.dead_line}}</td>
        </tr>
        {% endfor %}
        <tbody id="tbody_todo"></tbody>
    {% else %}
        <tr>
            <td colspan="5">
                <h4>아직 게시물이 없습니다.</h4>
            </td>
        </tr>
    {% endif %}


</table>

<button type="button" id="myModal_button" class="btn btn-primary invisible" data-toggle="modal" data-target="#myModal">
    todo detail modal
</button>


<button type="button" id="myModal_button2" class="btn btn-primary invisible" data-toggle="modal" data-target="#myModal2">
    todo 상세 보기 모달
</button>


<!-- The Modal -->
<div class="modal fade" id="myModal">

</div>


<!-- The Modal -->
<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <!-- Comments Form -->
                    <h5 class="card-header">Leave a Comment:
                    </h5>
                    <div class="card-body">

                        <form method="post" action="{{object.get_absolute_url}}new_comment/">{% csrf_token %}
                            <div class="form-group">
                                {{ comment_form | crispy }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<script class="todo_row" type="text/x-template">
    <tr>
        <td>
            <input type="checkbox" id=<%=todoId %> class="td_check">
        </td>
        <td><%=classification %></td>
        <td>
        </td>
        <td>
        </td>
        <td><%=dead_line %></td>
    </tr>
</script>

<script type="text/javascript">
{% block extra_js %}

function create_todo_for_team(){

    const team_name = $("#team_name").text()
    const team_leader_name = $("#team_leader_name").text()
    const title = $("#input_todo").val()
    const dead_line_option = $("#select_for_dead_line").val()
    const select_for_team_member = $("#select_for_team_member").val()
    const select_for_classification = $("#select_for_classification").val()
    window.history.pushState("", "", '/todo/')

    $.ajax({
      type: "POST",
      url: 'add_todo_for_team_by_ajax/',
      data: {
          title:title,
          dead_line_option:dead_line_option,
          select_for_team_member:select_for_team_member,
          select_for_classification:select_for_classification,
          team_name:team_name,
          team_leader_name:team_leader_name,
          csrfmiddlewaretoken: '{{ csrf_token }}'
      },
        success: function(result) {
            alert("insert todo is success")
            window.history.pushState("", "", '/todo/team_todo_list/'+team_name)

            location.reload(true);
        }
    });
}

function insert_todo(){
    if (window.event.keyCode == 13){
        alert("할일 입력")
        create_todo_for_team();
    }
}

function show_todo_detail(){
  alert("modal 출력 함수")
}
$(document).ready(function(){
    var id;
    $("#todo_list a[class='title_for_list']").click(function(e){
        e.preventDefault();
        id = $(this).attr('id');

        $.get(id)
            .done((html) => {
                $('#myModal_button').hide();
                $("#myModal").html(html)
                $( "#myModal_button" ).trigger("click");
            })
            .fail(() => {
                console.log("fail");
            })
            .always(() => {
                console.log('always');
            })
    });
})

$(document).ready(function(){
    $('.comment_button_for_todo_detail').click(function(e){
        e.preventDefault();
        id=$(this).attr('id');
        alert('id : ', id)
    })

$('#todo_delete_button').click(function(e){

    e.preventDefault();
    alert("삭제 버튼 ")

    var todo_arr = [];
    $('.td_check').each(function() {
        if (jQuery(this).is(":checked")) {
            var id = this.id;
            todo_arr.push(id);
        }
    });
    alert('todo_arr : '+ todo_arr)

    window.history.pushState("", "", '/todo/')

    $.ajax({
      type: "POST",
      url: 'todo_delete_ajax/',
      data: {
          'todo_arr[]':todo_arr,
          csrfmiddlewaretoken: '{{ csrf_token }}'
      },
        success: function(result) {
            alert('todo_delete_ajax is success ');
            jQuery('input:checkbox:checked').parents("tr").remove();
        }
    });
})

// result is todo_arr : 78,76


})


{% endblock %}
</script>
