{% extends "layout.html" %}
{%block title %}{{team_name}}팀 회원 정보{% endblock %}

{%block content %}

{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
     {{ message.message }}<strong>{{ message.tags }}</strong>
     {% endfor %}
</div>
{% endif %}

<div class="jumbotron">
    <span id="team_name">
        {{team_name}}팀
    </span> <br>
    팀원수 : {{team_member_count}} 명 <br>
    팀장 이름 : {{team_leader_name}}
</div>

<table class="table table-bordered" id="todo_list">
    <tr>
        <td>index</td>
        <td>member</td>
        <td>position</td>
        <td>미완료</td>
        <td>완료</td>
    </tr>
    {% if object_list.exists %}
        {% for p in object_list %}


            <tr id=tr_{{p.id}}>
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                        <a href="/todo/todolist/uncomplete/admin/{{p.member.username}}/{{team_leader_name}}">
                            {{ p.member.username }}
                        </a>
                        {% if p.member == request.user %}
                            <a class="badge badge-pill badge-info delete_team_member_btn float-right"
                                data-member_id={{p.id}} data-team_member_name={{p.member.username}} data-team_name={{team_name}}

                                >탈퇴</a>
                        {% endif %}
                </td>
                <td>
                    {{ p.position }}
                </td>
                <td>
                    <a href="/todo/todolist/uncomplete/admin/{{p.member.username}}/{{team_leader_name}}">
                        {{ p.member.profile.uncompletecount }}
                    </a>
                </td>
                <td>
                    <a href="/todo/todolist/complete/admin/{{p.member.username}}/{{team_leader_name}}">
                        {{ p.member.profile.completecount }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">
                <h4>아직 등록된 멤버가 없습니다.</h4>
            </td>
        </tr>
    {% endif %}
</table>
{% endblock %}

<script type="text/javascript">
{% block extra_js %}

// var person = prompt("Please enter your name", "Harry Potter");
// if (person != null) {
//   document.getElementById("demo").innerHTML =
//   "Hello " + person + "! How are you today?";
// }

$(".delete_team_member_btn").click(function(){
    // 삭제를 위해
    const team_memeber_id = $(this).data("member_id");
    // 삭제 관련 정보
    const team_name = $(this).data("team_name")
    const team_member_name = $(this).data("team_member_name")

    const url = "delete/team/memeber/byajax"

    window.history.pushState("", "", '/todo/')

    $.ajax({
        type: "POST",
        url: url,
        data: {
            team_memeber_id:team_memeber_id,
            team_name:team_name,
            team_member_name:team_member_name,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(result) {
            alert(result.message);
            // window.history.pushState("", "", '/todo/team_member_list/'+result.team_id)
            window.location.href = "/todo/team_member_list/"+result.team_id;

            $("#tr_"+team_memeber_id).remove()
        }
    });

})



{% endblock %}
</script>
