{% extends "todo/layout.html" %}
{%block title %}todo list{% endblock %}
{%block content %}

<h2>할일 목록</h2>

    <table class="table" id="todo_list">
        <tr>
            <td>title</td>
            <td>경과시간</td>
            <td>작성자</td>
            <td></td>
        </tr>

        {% if object_list.exists %}
            {% for p in object_list %}
                <tr>
                    <td>
                        <a href="" id={{p.id}} class="title_for_list">
                            {{p.title}}
                        </a>
                    </td>
                    <td>{{p.now_diff}}</td>
                    <td>{{p.author}}</td>
                    <td>
                        {% if request.user == p.author %}
                            <button type="button" class="btn btn btn-outline-danger btn-sm">
                                <a href="{% url "todo:todo_complete" p.id %}">완료</a>
                            </button>
                            <button type="button" class="btn btn btn-outline-danger btn-sm">
                                <a href="{% url "todo:todo_delete" p.pk %}">삭제</a>
                            </button>

                            <button type="button" class="btn btn btn-outline-danger btn-sm">
                                <a href="{% url "todo:todo_edit" p.id %}">수정</a>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    <h4>아직 게시물이 없습니다.</h4>
                </td>
            </tr>
        {% endif %}
    </table>
    <hr>

<!-- modal area -->
<button type="button" id="myModal_button" class="btn btn-primary invisible" data-toggle="modal" data-target="#myModal" >
  Open modal
</button>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    12
</div>


{% endblock %}

{% block extra_js %}

$(document).ready(function(){
    var id;

    $("#todo_list a[class='title_for_list']").click(function(e){
        e.preventDefault();
        id = $(this).attr('id');
        // alert(id);
        $.get(id)
            .done((html) => {
                console.log(html);
                $('#myModal_button').hide();
                $("#myModal").html(html)
                $( "#myModal_button" ).trigger( "click" );
            })
            .fail(() => {
                console.log("fail");
            })
            .always(() => {
                console.log('always');
            })
    });
})

{% endblock %}
