{% extends "layout.html" %}
{%block title %}manual{% endblock %}

{%block content2%}

<div class="jumbotron">
    <h2>site 메뉴얼</h2>
</div>

{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
     {{ message.message }}<strong>{{ message.tags }}</strong>
     {% endfor %}
</div>
{% endif %}

<!-- <a href="/bestlec/new/" class="btn btn-danger float-right">입력 </a> -->

<br><br>
<a href = "{% url "pm:insert_manual" %}" class="btn btn-outline-info float-right">입력</a>


<br><br>

<table class="table table-bordered" id="todo_list">
    <tr>
        <td>index</td>
        <td>title</td>
        <td>author</td>
        <td>created_at</td>
    </tr>
    {% if object_list.exists %}
        {% for p in object_list %}
            <tr>
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    <a href="{{p.get_absolute_url}}">
                        {{p.title}}
                        {% if p.author == request.user %}
                            <a href = "{% url "pm:delete_manual" p.id %}" class="btn btn-outline-warning float-right btn-sm">삭제</a>
                            <a class="badge badge-pill badge-danger btn-sm" href="{% url "pm:edit_manual" p.id %}">수정</a>
                        {% endif %}

                    </a>
                </td>
                <td>
                    {{p.author}}
                </td>
                <td>
                    {{p.created_at}}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">
                <h4>아직 게시물이 없습니다.</h4>
            </td>
        </tr>
    {% endif %}
</table>

{% endblock %}

<script type="text/javascript">
{% block extra_js %}



{% endblock %}
</script>
